<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/libs/reset.css">
    <link rel="stylesheet" href="../../static/css/libs/header.css">
    <link rel="stylesheet" href="../../static/css/libs/footer.css">
    <link rel="stylesheet" href="../../static/css/game/style.css">
    <link rel="stylesheet" href="../../static/css/libs/uitl.css">
</head>
<body>
    <div class="header clearfix">
        <div class="header-container">
            <div class="header-left">
                <a href="#" style="display: block; height: 60px;"></a>
            </div>
            <div class="header-center">
                <ul>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">首页</a></li>
                    <li><a href="#">首页</a></li>
                </ul>
            </div>
            <div class="header-right">
                <div style="display: inline-block;">中文&nbsp;|&nbsp;<span>英文</span></div>
                <div class="cart"></div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer-container">
            footer
        </div>
    </div>
</body>
</html>